@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 280 44% 96%;
    --foreground: 256 20% 15%;
    --card: 0 0% 100%;
    --card-foreground: 256 20% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 256 20% 15%;
    --primary: 256 47% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 280 30% 92%;
    --secondary-foreground: 256 20% 15%;
    --muted: 280 30% 92%;
    --muted-foreground: 256 15% 40%;
    --accent: 231 48% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 280 20% 88%;
    --input: 280 20% 90%;
    --ring: 231 48% 54%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 256 10% 10%;
    --foreground: 0 0% 98%;
    --card: 256 10% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 256 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 256 47% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 256 10% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 256 10% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 231 48% 54%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 256 10% 15%;
    --input: 256 10% 15%;
    --ring: 231 48% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
